// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logout a {
  float: right;
}

// html {
//   background: linear-gradient(-135deg, #E4A972, #9941D8)
// }

body{
  background: linear-gradient(-135deg, #E4A972, #9941D8);
  height: 1000px;
}
